* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(64,78,237);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: rgb(35,39,42);
  height: 500px;
  color: rgb(88,101,242);
}

header .menu ul{
  display: flex;
  list-style: none;
}

header  .menu ul li{
  padding: 10px;
}

header .menu a{
  color: white;
  text-decoration: none;
}

footer hr{
  color: rgb(88,101,242);
  border-color: rgb(88,101,242);
  background-color: rgb(88,101,242);
  width: 100%;
}

footer ul {
  list-style: none;
}

footer li a {
  color: white;
  text-decoration: none;
}

header .container{
  color: white;
  padding: 0 100px;
}

.jumbotron {
  background-color: rgba(64, 78, 237, 0.356); /*da rimuove*/
  height: 600px;
}

.immagine {
  width: 678px;
  height: 440px;
  background-color: yellow; /*da rimuove*/
}

.contents {
  height: 460px;
  width: 460px;
  background-color: orange; /*da rimuove*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.container {
  width: 1150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto auto;
}

.jumbotron .container {
  background-color: gold; /*da rimuove*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 200px;
}

.jumbotron .contents {
  width: 100%;
  height: 50%;
  background-color: red; /*da rimuove*/
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.jumbotron .bottoni {
  height: calc(100%/6);
  background-color: blueviolet; /*da rimuove*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-server, .info-visibilita, .info-community{
  background-color: white;
  height: 600px;
}

.info-visibilita {
  background-color: rgb(246,246,246);
}

.download {
  background-color: rgb(246,246,246);
  height: 1300px;
  padding-top: 125px;
  padding-bottom: 120px;
}

.download .container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  text-align: center;
}

.download .immagine {
  width: 100%;
  margin: auto;
  height: 800px;
  margin-bottom: 50px;
}

.download-contents{
  margin-bottom: 50px;
}

.top-footer, .bottom-footer{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-footer {
  margin-bottom: 45px;
  height: 240px;
  align-content:flex-start;
  padding-top: 80px;
}

.bottom-footer{
  margin-top: 35px;
}

footer .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

footer .menu {
  height: 100%;
}

footer .indirizzi {
  height: 100%;
}