* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*sfondo, dimensione e flex header*/
header {
  background-color: rgb(64,78,237);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*sfondo e dimensione footer*/
footer {
  background-color: rgb(35,39,42);
  height: 500px;
  color: rgb(88,101,242);
}

/*formattazione lista menu header*/
header .menu ul{
  display: flex;
  list-style: none;
}

/*formattazione punti lista menu header*/
header  .menu ul li{
  padding: 10px;
}

/*formattazione link nav header*/
header .menu a{
  color: white;
  text-decoration: none;
}

/*formattazione linea footer*/
footer hr{
  color: rgb(88,101,242);
  border-color: rgb(88,101,242);
  background-color: rgb(88,101,242);
  width: 100%;
}

/*formattazione lista footer*/
footer ul {
  list-style: none;
}

/*formattazione punti lista footer*/
footer li a {
  color: white;
  text-decoration: none;
}

/*container header*/
header .container{
  color: white;
  padding: 0 100px;
}

/*dimensione jumbotron*/
.jumbotron {
  background-color: rgba(64, 78, 237, 0.356); /*da rimuove*/
  height: 600px;
}

/*dimensione immagini*/
.immagine {
  width: 678px;
  height: 440px;
  background-color: yellow; /*da rimuove*/
}

/*dimensione area di testo*/
.contents {
  height: 460px;
  width: 460px;
  background-color: orange; /*da rimuove*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

/*dimensione e flex container*/
.container {
  width: 1150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto auto;
}

/*dimensioni e flex container jumbotron*/
.jumbotron .container {
  background-color: gold; /*da rimuove*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 200px;
}

/*formattazione area di testo jumbotron*/
.jumbotron .contents {
  width: 100%;
  height: 50%;
  background-color: red; /*da rimuove*/
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*formattazione area bottoni jumbotron*/
.jumbotron .bottoni {
  height: calc(100%/6);
  background-color: blueviolet; /*da rimuove*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*sfondo e dimensione sezione server,visibilità e community*/
.info-server, .info-visibilita, .info-community{
  background-color: white;
  height: 600px;
}

/*sfondo sezione visibilità*/
.info-visibilita {
  background-color: rgb(246,246,246);
}

/*dimensione sezione download*/
.download {
  background-color: rgb(246,246,246);
  height: 1300px;
  padding-top: 125px;
  padding-bottom: 120px;
}

/*flex container download*/
.download .container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  text-align: center;
}

/*dimensione immagine download*/
.download .immagine {
  width: 100%;
  margin: auto;
  height: 800px;
  margin-bottom: 50px;
}

/*margini area testo senzione download*/
.download-contents{
  margin-bottom: 50px;
}

/*dimensione e flex area sopra e sotto riga footer*/
.top-footer, .bottom-footer{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*dimensione e flex area sopra riga footer*/
.top-footer {
  margin-bottom: 45px;
  height: 240px;
  align-content:flex-start;
  padding-top: 80px;
}

/*formattazione area sotto riga footer*/
.bottom-footer{
  margin-top: 35px;
}

/*formattazione container footer*/
footer .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

/*formattazione menu footer*/
footer .menu {
  height: 100%;
}

/*dormattazione area indirizzi footer*/
footer .indirizzi {
  height: 100%;
}