* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(64,78,237);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 100px;
}

footer {
  background-color: rgb(35,39,42);
  height: 500px;
  color: rgb(88,101,242);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 40px 80px;
}

 header .menu ul{
  display: flex;
  list-style: none;
}

header  .menu ul li{
  padding: 10px;
}

header .menu a{
  color: white;
}

.jumbotron {
  background-color: rgba(64, 78, 237, 0.356);
  height: 500px;
}

.immagine {
  width: 660px;
  height: 430px;
  background-color: yellow;
}

.contents {
  height: 460px;
  width: 460px;
  background-color: orange;
}

.jumbotron .container {
  background-color: gold;
  width: 50%;
  margin: 0 auto;
  height: 100%;
}

.info-server {
  background-color: white;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-visibilita {
  background-color: rgb(246,246,246);
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-community {
  background-color: white;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.download {
  background-color: rgb(246,246,246);
  height: 1300px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 120px;
}

.download .immagine {
  width: 90%;
  margin: auto;
  height: 800px;
  margin-bottom: 50px;
}

.download-contents{
  margin-bottom: 50px;
}

.top-footer, .bottom-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-footer {
  margin-bottom: 45px;
  height: 240px;
}

.bottom-footer{
  margin-top: 35px;
}

footer hr{
  
  color: rgb(88,101,242);
  border-color: rgb(88,101,242);
  background-color: rgb(88,101,242);
}